<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banner slider</title>
    <link rel="stylesheet" href="/assets/css/base.css">
</head>
<body>
    <section class="wrapper banner-wrapper">
        <div id="flexSlider" class="flexslider">
           <ul class="slides">
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider1"></li>
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider2"></li>
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider3"></li>
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider4"></li>
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider4"></li>
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider5"></li>
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider6"></li>
              <li><img src="theme/images/banner/slider-1.jpg" alt="Home slider7"></li>
           </ul>
        </div>
    </section>    
    <script src="/assets/js/base.js"></script>
</body>
</html>